$container-offset ?= (2 * $gap)

_container()
	flex-grow: 1
	margin: 0 auto
	position: relative
	width: auto
	&{$fluid-modifier}
		max-width: none
		padding-left: $gap
		padding-right: $gap
		width: 100%
	+desktop()
		max-width: $desktop - $container-offset
	+until-widescreen()
		&{$widescreen-modifier}
			max-width: $widescreen - $container-offset
	+until-fullhd()
		&{$fullhd-modifier}
			max-width: $fullhd - $container-offset
	+widescreen()
		max-width: $widescreen - $container-offset
	+fullhd()
		max-width: $fullhd - $container-offset

	{block}

if !$silent.elements.container && !$silent-mode
	{$container-selector}
		_container()
