@require "../utilities/mixins"

$table-color ?= $text-strong
$table-background-color ?= $scheme-main

$table-cell-border ?= 1px solid $border
$table-cell-border-width ?= 0 0 1px
$table-cell-padding ?= 0.5em 0.75em
$table-cell-heading-color ?= $text-strong

$table-head-cell-border-width ?= 0 0 2px
$table-head-cell-color ?= $text-strong
$table-foot-cell-border-width ?= 2px 0 0
$table-foot-cell-color ?= $text-strong

$table-head-background-color ?= transparent
$table-body-background-color ?= transparent
$table-foot-background-color ?= transparent

$table-row-hover-background-color ?= $scheme-main-bis

$table-row-active-background-color ?= $primary
$table-row-active-color ?= $primary-invert

$table-striped-row-even-background-color ?= $scheme-main-bis
$table-striped-row-even-hover-background-color ?= $scheme-main-ter

$table-colors ?= $colors

colorfulTable($colors= $table-colors)
	for $name, $pair in $colors
		$color = $pair['1']
		$color-invert = $pair['2']
		&{$is-modifier}{$name}
			background-color: $color
			border-color: $color
			color: $color-invert

_table()
	@extend $block
	background-color: $table-background-color
	color: $table-color
	td,
	th
		border: $table-cell-border
		border-width: $table-cell-border-width
		padding: $table-cell-padding
		vertical-align: top

		// Colors
		updateGlobalOptions()
		colorfulTable($table-colors) if !$silent.colorful.table

		// Modifiers
		&{$narrow-modifier}
			white-space: nowrap
			width: 1%
		&{$selected-modifier}
			background-color: $table-row-active-background-color
			color: $table-row-active-color
			a,
			strong
				color: currentColor
		&{$vcentered-modifier}
			vertical-align: middle

	th
		color: $table-cell-heading-color
		&:not([align])
			text-align: inherit
	tr
		&{$selected-modifier}
			background-color: $table-row-active-background-color
			color: $table-row-active-color
			a,
			strong
				color: currentColor
			td,
			th
				border-color: $table-row-active-color
				color: currentColor
	thead
		background-color: $table-head-background-color
		td,
		th
			border-width: $table-head-cell-border-width
			color: $table-head-cell-color
	tfoot
		background-color: $table-foot-background-color
		td,
		th
			border-width: $table-foot-cell-border-width
			color: $table-foot-cell-color
	tbody
		background-color: $table-body-background-color
		tr
			&:last-child
				td,
				th
					border-bottom-width: 0
	// Modifiers
	&{$bordered-modifier}
		td,
		th
			border-width: 1px
		tr
			&:last-child
				td,
				th
					border-bottom-width: 1px
	&{$fullwidth-modifier}
		width: 100%
	&{$hoverable-modifier}
		tbody
			tr:not({$selected-modifier})
				&:hover
					background-color: $table-row-hover-background-color
		&{$striped-modifier}
			tbody
				tr:not({$selected-modifier})
					&:hover
						background-color: $table-row-hover-background-color
						&:nth-child(even)
							background-color: $table-striped-row-even-hover-background-color
	&{$narrow-modifier}
		td,
		th
			padding: 0.25em 0.5em
	&{$striped-modifier}
		tbody
			tr:not({$selected-modifier})
				&:nth-child(even)
					background-color: $table-striped-row-even-background-color

	/{$table-container-selector}
		@extend $block
		overflow-touch()
		overflow: auto
		overflow-y: hidden
		max-width: 100%

	{block}

if !$silent.elements.table && !$silent-mode
	{$table-selector}
		_table()
