@import "../utilities/mixins"

$tile-spacing ?= 0.75rem

_tile()
	align-items: stretch
	display: block
	flex-basis: 0
	flex-grow: 1
	flex-shrink: 1
	min-height: min-content

	// Modifiers
	&{$ancestor-modifier}
		margin-left: $tile-spacing * -1
		margin-right: $tile-spacing * -1
		margin-top: $tile-spacing * -1
		&:last-child
			margin-bottom: $tile-spacing * -1
		&:not(:last-child)
			margin-bottom: $tile-spacing
	&{$child-modifier}
		margin: 0 !important
	&{$parent-modifier}
		padding: $tile-spacing
	&{$vertical-modifier}
		flex-direction: column
		& > {$tile-selector}{$child-modifier}:not(:last-child)
			margin-bottom: 1.5rem !important
	// Responsiveness
	+tablet()
		&:not({$child-modifier})
			display: flex
		for $i in 1..$columns-max
			&{$is-modifier}{$i}
				flex: none;
				width: ($i / $columns-max) * 100%;

if !$silent.components.tiles && !$silent-mode
	{$tile-selector}
		_tile()
