@require 'mixins'

$control
	control()

$unselectable
	unselectable()

$arrow
	arrow()

$block
	block()

$delete
	delete()

$loader
	loader()

$overlay
	overlay()

$reset
	reset()

$animated
	animated($name: false,
		$delay: false,
		$repeat: false,
		$direction: false,
		$timing: false,
		$iteration: false)
