@require "../utilities/mixins"

$level-item-spacing ?= ($block-spacing / 2)

_level()
	@extend $block
	align-items: center
	justify-content: space-between

	code
		border-radius: $radius

	img
		display: inline-block
		vertical-align: top

	// Modifiers
	&{$is-modifier}mobile
		display: flex

		& {$level-left-selector},
		& {$level-right-selector}
			display: flex

		& {$level-left-selector} + {$level-right-selector}
			margin-top: 0

		& {$level-item-selector}
			&:not(:last-child)
				margin-bottom: 0
				ltr-property("margin", $level-item-spacing)

			&:not({$narrow-modifier}) // TODO: `not` pseudo-class will be a problem with different naming methodology. Check how we can deal with it.
				flex-grow: 1

	// Responsiveness
	+tablet()
		display: flex

		& > {$level-item-selector}
			&:not({$narrow-modifier})
				flex-grow: 1

	{$level-item-selector}
		align-items: center
		display: flex
		flex-basis: auto
		flex-grow: 0
		flex-shrink: 0
		justify-content: center
		{$title-selector},
		{$subtitle-selector}
			margin-bottom: 0

		// Responsiveness
		+mobile()
			&:not(:last-child)
				margin-bottom: $level-item-spacing

	{$level-left-selector},
	{$level-right-selector}
		flex-basis: auto
		flex-grow: 0
		flex-shrink: 0

		& {$level-item-selector}

			// Modifiers
			&{$flexible-modifier}
				flex-grow: 1

			// Responsiveness
			+tablet()
				&:not(:last-child)
					ltr-property("margin", $level-item-spacing)

	{$level-left-selector}
		align-items: center
		justify-content: flex-start

		// Responsiveness
		+mobile()
			& + {$level-right-selector}
				margin-top: 1.5rem

		+tablet()
			display: flex

	{$level-right-selector}
		align-items: center
		justify-content: flex-end

		// Responsiveness
		+tablet()
			display: flex

	{block}

if !$silent.components.level && !$silent-mode
	{$level-selector}
		_level()
