@require "../utilities/mixins"

$media-border-color ?= bulmaRgba($border, 0.5)
$media-border-size ?= 1px
$media-spacing ?= 1rem
$media-spacing-large ?= 1.5rem
$media-content-spacing ?= 0.75rem
$media-level-1-spacing ?= 0.75rem
$media-level-1-content-spacing ?= 0.5rem
$media-level-2-spacing ?= 0.5rem

_media()
	align-items: flex-start
	display: flex
	text-align: inherit
	{$content-selector}:not(:last-child)
		margin-bottom: $media-content-spacing
	{$media-item-selector}
		border-top: $media-border-size solid $media-border-color
		display: flex
		padding-top: $media-level-1-spacing

		{$content-selector}:not(:last-child),
		{$control-selector}:not(:last-child)
			margin-bottom: $media-level-1-content-spacing

		{$media-item-selector}
			padding-top: $media-level-2-spacing
			& + {$media-item-selector}
				margin-top: $media-level-2-spacing

	& + {$media-item-selector}
		border-top: $media-border-size solid $media-border-color
		margin-top: $media-spacing
		padding-top: $media-spacing

	// Sizes
	&{$large-modifier}
		& + {$media-item-selector}
			margin-top: $media-spacing-large
			padding-top: $media-spacing-large

	{$media-left-selector},
	{$media-right-selector}
		flex-basis: auto
		flex-grow: 0
		flex-shrink: 0

	{$media-left-selector}
		ltr-property("margin", $media-spacing)

	{$media-right-selector}
		ltr-property("margin", $media-spacing, false)

	{$media-content-selector}
		flex-basis: auto
		flex-grow: 1
		flex-shrink: 1
		text-align: inherit

	+mobile()
		{$media-content-selector}
			overflow-x: auto

	{block}

if !$silent.components.media && !$silent-mode
	{$media-selector}
		_media()
