$media-border-color ?= bulmaRgba($border, 0.5)

_media()
	align-items: flex-start
	display: flex
	text-align: left
	{$content-selector}:not(:last-child)
		margin-bottom: 0.75rem
	{$media-item-selector}
		border-top: 1px solid $media-border-color
		display: flex
		padding-top: 0.75rem

		{$content-selector}:not(:last-child),
		{$control-selector}:not(:last-child)
			margin-bottom: 0.5rem

		{$media-item-selector}
			padding-top: 0.5rem
			& + {$media-item-selector}
				margin-top: 0.5rem

	& + {$media-item-selector}
		border-top: 1px solid $media-border-color
		margin-top: 1rem
		padding-top: 1rem

	// Sizes
	&{$large-modifier}
		& + {$media-item-selector}
			margin-top: 1.5rem
			padding-top: 1.5rem

	{$media-left-selector},
	{$media-right-selector}
		flex-basis: auto
		flex-grow: 0
		flex-shrink: 0

	{$media-left-selector}
		margin-right: 1rem

	{$media-right-selector}
		margin-left: 1rem

	{$media-content-selector}
		flex-basis: auto
		flex-grow: 1
		flex-shrink: 1
		text-align: left

	+mobile()
		{$media-content-selector}
			overflow-x: auto

	{block}

if !$silent.components.media && !$silent-mode
	{$media-selector}
		_media()
