@import "../utilities/mixins"

$navbar-background-color ?= $scheme-main
$navbar-box-shadow-size ?= 0 2px 0 0
$navbar-box-shadow-color ?= $background
$navbar-height ?= 3.25rem
$navbar-padding-vertical ?= 1rem
$navbar-padding-horizontal ?= 2rem
$navbar-z ?= 30
$navbar-fixed-z ?= 30

$navbar-item-color ?= $text
$navbar-item-hover-color ?= $link
$navbar-item-hover-background-color ?= $scheme-main-bis
$navbar-item-active-color ?= $scheme-invert
$navbar-item-active-background-color ?= transparent
$navbar-item-img-max-height ?= 1.75rem

$navbar-burger-color ?= $navbar-item-color

$navbar-tab-hover-background-color ?= transparent
$navbar-tab-hover-border-bottom-color ?= $link
$navbar-tab-active-color ?= $link
$navbar-tab-active-background-color ?= transparent
$navbar-tab-active-border-bottom-color ?= $link
$navbar-tab-active-border-bottom-style ?= solid
$navbar-tab-active-border-bottom-width ?= 3px

$navbar-dropdown-background-color ?= $scheme-main
$navbar-dropdown-border-top ?= 2px solid $border
$navbar-dropdown-offset ?= -4px
$navbar-dropdown-arrow ?= $link
$navbar-dropdown-radius ?= $radius-large
$navbar-dropdown-z ?= 20

$navbar-dropdown-boxed-radius ?= $radius-large
$navbar-dropdown-boxed-shadow ?= 0 8px 8px bulmaRgba($scheme-invert, 0.1), 0 0 0 1px bulmaRgba($scheme-invert, 0.1)

$navbar-dropdown-item-hover-color ?= $scheme-invert
$navbar-dropdown-item-hover-background-color ?= $background
$navbar-dropdown-item-active-color ?= $link
$navbar-dropdown-item-active-background-color ?= $background

$navbar-divider-background-color ?= $background
$navbar-divider-height ?= 2px

$navbar-bottom-box-shadow-size ?= 0 -2px 0 0

$navbar-breakpoint ?= $desktop

$navbar-colors ?= $colors

colorfulNavbar($colors= $navbar-colors)
	for $name, $pair in $colors
		$color = $pair['1']
		$color-invert = $pair['2']

		&{$is-modifier}{$name}
			background-color: $color
			color: $color-invert

			& {$navbar-brand-selector}
				& > {$navbar-item-selector},
				& {$navbar-link-selector}
					color: $color-invert

				& > a{$navbar-item-selector},
				& {$navbar-link-selector}
					&:focus,
					&:hover,
					&{$active-modifier}
						background-color: bulmaDarken($color, 5%)
						color: $color-invert

				& {$navbar-link-selector}
					&::after
						border-color: $color-invert

			& {$navbar-burger-selector}
				color: $color-invert

			+from($navbar-breakpoint)
				& {$navbar-start-selector},
				& {$navbar-end-selector}
					& > {$navbar-item-selector},
					& {$navbar-link-selector}
						color: $color-invert

					& > a{$navbar-item-selector},
					& {$navbar-link-selector}
						&:focus,
						&:hover,
						&{$active-modifier}
							background-color: bulmaDarken($color, 5%)
							color: $color-invert

					& {$navbar-link-selector}
						&::after
							border-color: $color-invert

				& {$navbar-item-selector}{$has-dropdown-modifier}
					&:focus,
					&:hover,
					&{$active-modifier}
						& {$navbar-link-selector}
							background-color: bulmaDarken($color, 5%)
							color: $color-invert

				& {$navbar-dropdown-selector}
					& a{$navbar-item-selector}{$active-modifier}
							background-color: $color
							color: $color-invert

navbar-fixed()
	left: 0
	position: fixed
	right: 0
	z-index: $navbar-fixed-z

_navbar()
	background-color: $navbar-background-color
	min-height: $navbar-height
	position: relative
	z-index: $navbar-z

	updateGlobalOptions()
	colorfulNavbar($navbar-colors) if !$silent.colorful.navbar

	& > {$container-selector}
		align-items: stretch
		display: flex
		min-height: $navbar-height
		width: 100%

	&{$has-shadow-modifier}
		box-shadow: $navbar-box-shadow-size $navbar-box-shadow-color

	&{$fixed-bottom-modifier},
	&{$fixed-top-modifier}
		navbar-fixed()

	&{$fixed-bottom-modifier}
		bottom: 0

		&{$has-shadow-modifier}
			box-shadow: $navbar-bottom-box-shadow-size $navbar-box-shadow-color

	&{$fixed-top-modifier}
		top: 0

	/html, /body
		for $direction in (top bottom)
			&{$has-navbar-fixed-modifier}-{$direction}
				padding-{$direction}: $navbar-height

	{$navbar-brand-selector},
	{$navbar-tabs-selector}
		align-items: stretch
		display: flex
		flex-shrink: 0
		min-height: $navbar-height

	{$navbar-brand-selector}
		& a{$navbar-item-selector}
			&:focus,
			&:hover
				background-color: transparent

	{$navbar-tabs-selector}
		overflow-touch()
		max-width: 100vw
		overflow-x: auto
		overflow-y: hidden

	{$navbar-burger-selector}
		color: $navbar-burger-color
		hamburger($navbar-height)
		ltr-property("margin", auto, false)

	/{$navbar-menu-selector}
		display: none

	/{$navbar-item-selector},
	/{$navbar-link-selector}
		color: $navbar-item-color
		display: block
		line-height: 1.5
		padding: 0.5rem 0.75rem
		position: relative

		{$icon-selector}
			&:only-child
				margin-left: -0.25rem
				margin-right: -0.25rem

	/a{$navbar-item-selector},
	/{$navbar-link-selector}
		cursor: pointer
		&:focus,
		&:focus-within,
		&:hover,
		&{$active-modifier}
			background-color: $navbar-item-hover-background-color
			color: $navbar-item-hover-color

	/{$navbar-item-selector}
		display: block
		flex-grow: 0
		flex-shrink: 0

		img
			max-height: $navbar-item-img-max-height

		&{$has-dropdown-modifier}
			padding: 0

		&{$expanded-modifier}
			flex-grow: 1
			flex-shrink: 1

		&{$tab-modifier}
			border-bottom: 1px solid transparent
			min-height: $navbar-height
			padding-bottom: calc(0.5rem - 1px)

			&:focus,
			&:hover
				background-color: $navbar-tab-hover-background-color
				border-bottom-color: $navbar-tab-hover-border-bottom-color

			&{$active-modifier}
				background-color: $navbar-tab-active-background-color
				border-bottom-color: $navbar-tab-active-border-bottom-color
				border-bottom-style: $navbar-tab-active-border-bottom-style
				border-bottom-width: $navbar-tab-active-border-bottom-width
				color: $navbar-tab-active-color
				padding-bottom: 'calc(0.5rem - %s)' % $navbar-tab-active-border-bottom-width

	{$navbar-content-selector}
		flex-grow: 1
		flex-shrink: 1

	/{$navbar-link-selector}
		&:not({$arrowless-modifier}) // TODO: `not` pseuo-class will be a problem with different naming methodology. Check how we can deal with it.
			ltr-property("padding", 2.5em)

			&::after
				@extend $arrow
				border-color: $navbar-dropdown-arrow
				margin-top: -0.375em
				ltr-position(1.125em)

	{$navbar-dropdown-selector}
		font-size: 0.875rem
		padding-bottom: 0.5rem
		padding-top: 0.5rem

		& {$navbar-item-selector}
			padding-left: 1.5rem
			padding-right: 1.5rem

	{$navbar-divider-selector}
		background-color: $navbar-divider-background-color
		border: none
		display: none
		height: $navbar-divider-height
		margin: 0.5rem 0

	+until($navbar-breakpoint)
		& > {$container-selector}
			display: block

		/{$navbar-brand-selector},
		/{$navbar-tabs-selector}
			& {$navbar-item-selector}
				align-items: center
				display: flex

		/{$navbar-link-selector}
			&::after
				display: none

		/{$navbar-menu-selector}
			background-color: $navbar-background-color
			box-shadow: 0 8px 16px bulmaRgba($scheme-invert, 0.1)
			padding: 0.5rem 0

			&{$active-modifier}
				display: block

		// Fixed navbar
		&
			&{$fixed-bottom-modifier}-touch,
			&{$fixed-top-modifier}-touch
				navbar-fixed()

			&{$fixed-bottom-modifier}-touch
				bottom: 0

				&{$has-shadow-modifier}
					box-shadow: 0 -2px 3px bulmaRgba($scheme-invert, 0.1)

			&{$fixed-top-modifier}-touch
				top: 0

			&{$fixed-top-modifier},
			&{$fixed-top-modifier}-touch
				& {$navbar-menu-selector}
					overflow-touch()
					max-height: 'calc(100vh - %s)' % $navbar-height
					overflow: auto

		/html, /body
			for $direction in (top bottom)
				&{$has-navbar-fixed-modifier}-{$direction}-touch
					padding-{$direction}: $navbar-height

	+from($navbar-breakpoint)
		&,
		/{$navbar-menu-selector},
		/{$navbar-start-selector},
		/{$navbar-end-selector}
			align-items: stretch
			display: flex

		&
			min-height: $navbar-height

			&{$spaced-modifier}
				padding: $navbar-padding-vertical $navbar-padding-horizontal

				& {$navbar-start-selector},
				& {$navbar-end-selector}
					align-items: center

				& a{$navbar-item-selector}
				& {$navbar-link-selector}
					border-radius: $radius

			&{$transparent-modifier}
				& a{$navbar-item-selector},
				& {$navbar-link-selector}
					&:focus,
					&:hover,
					&{$active-modifier}
						background-color: transparent !important

				& {$navbar-item-selector}
					&{$has-dropdown-modifier}{$active-modifier}
					&{$has-dropdown-modifier}{$hoverable-modifier}:focus,
					&{$has-dropdown-modifier}{$hoverable-modifier}:focus-within,
					&{$has-dropdown-modifier}{$hoverable-modifier}:hover
						& {$navbar-link-selector}
							background-color: transparent !important

				& {$navbar-dropdown-selector}
					& a{$navbar-item-selector}
						&:focus,
						&:hover
							background-color: $navbar-dropdown-item-hover-background-color
							color $navbar-dropdown-item-hover-color

						&{$active-modifier}
							background-color: $navbar-dropdown-item-active-background-color
							color $navbar-dropdown-item-active-color

		/{$navbar-burger-selector}
			display: none

		/{$navbar-item-selector},
		/{$navbar-link-selector}
			align-items: center
			display: flex

		/{$navbar-item-selector}
			&{$has-dropdown-modifier}
				align-items: stretch

			&{$has-dropdown-up-modifier}
				& {$navbar-link-selector}::after
					transform: rotate(135deg) translate(0.25em, -0.25em)

				& {$navbar-dropdown-selector}
					border-bottom: $navbar-dropdown-border-top
					border-radius: $navbar-dropdown-radius $navbar-dropdown-radius 0 0
					border-top: none
					bottom: 100%
					box-shadow: 0 -8px 8px bulmaRgba($scheme-invert, 0.1)
					top: auto

			&{$active-modifier},
			&{$hoverable-modifier}:focus,
			&{$hoverable-modifier}:focus-within,
			&{$hoverable-modifier}:hover
				& {$navbar-dropdown-selector}
					display: block

					{$navbar-selector}{$spaced-modifier} &,
					&{$boxed-modifier}
						opacity: 1
						pointer-events: auto
						transform: translateY(0)

		/{$navbar-menu-selector}
			flex-grow: 1
			flex-shrink: 0

		/{$navbar-start-selector}
			justify-content: flex-start
			ltr-property("margin", auto)

		/{$navbar-end-selector}
			justify-content: flex-end
			ltr-property("margin", auto, false)

		/{$navbar-dropdown-selector}
			background-color: $navbar-dropdown-background-color
			border-bottom-left-radius: $navbar-dropdown-radius
			border-bottom-right-radius: $navbar-dropdown-radius
			border-top: $navbar-dropdown-border-top
			box-shadow: 0 8px 8px bulmaRgba($scheme-invert, 0.1)
			display: none
			font-size: 0.875rem
			ltr-position(0, false)
			min-width: 100%
			position: absolute
			top: 100%
			z-index: $navbar-dropdown-z

			& {$navbar-item-selector}
				padding: 0.375rem 1rem
				white-space: nowrap

			& a{$navbar-item-selector}
				ltr-property("padding", 3rem)

				&:focus,
				&:hover
					background-color: $navbar-dropdown-item-hover-background-color
					color: $navbar-dropdown-item-hover-color

				&{$active-modifier}
					background-color: $navbar-dropdown-item-active-background-color
					color: $navbar-dropdown-item-active-color

			{$navbar-selector}{$spaced-modifier} &,
			&{$boxed-modifier}
				border-radius: $navbar-dropdown-boxed-radius
				border-top: none
				box-shadow: $navbar-dropdown-boxed-shadow
				display: block
				opacity: 0
				pointer-events: none
				top: 'calc(100% + %s)' % $navbar-dropdown-offset
				transform: translateY(-5px)
				transition-duration: $speed
				transition-property: opacity, transform

			&{$right-modifier}
				left: auto
				right: 0

		/{$navbar-divider-selector}
			display: block

		& > {$container-selector},
		/{$container-selector} > {$navbar-selector}
			for $t in ((brand left) (menu right))
				& {convert('$navbar-'+$t[0]+'-selector')}
					_lor = $t[1] != left ? true : false;
					ltr-property("margin", -.75rem, _lor)

		// Fixed navbar
		&
			&{$fixed-bottom-modifier}-desktop,
			&{$fixed-top-modifier}-desktop
				navbar-fixed()

			&{$fixed-bottom-modifier}-desktop
				bottom: 0

				&{$has-shadow-modifier}
					box-shadow: 0 -2px 3px bulmaRgba($scheme-invert, 0.1)

			&{$fixed-top-modifier}-desktop
				top: 0

		/html, /body
			for $p in ((top desktop) (bottom desktop))
				&{$has-navbar-fixed-modifier}-{$p[0]}-{$p[1]}
					padding-{$p[0]} $navbar-height
			for $p in ((top desktop) (bottom desktop))
				&{$has-spaced-navbar-fixed-modifier}-{$p[0]}
					padding-{$p[0]} $navbar-height + ($navbar-padding-vertical * 2)

		// Hover/Active states
		/a{$navbar-item-selector},
		/{$navbar-link-selector}
			&{$active-modifier}
				color: $navbar-item-active-color

			&{$active-modifier}:not(:focus):not(:hover)
				background-color: $navbar-item-active-background-color

		/{$navbar-item-selector}.has-dropdown
			&:focus,
			&:hover,
			&{$active-modifier}
				& {$navbar-link-selector}
					background-color: $navbar-item-hover-background-color

	// Combination

	/.hero
		&{$fullheight-with-navbar-modifier}
			min-height: 'calc(100vh - %s)' % $navbar-height

	{block}

if !$silent.components.navbar && !$silent-mode
	{$navbar-selector}
		_navbar()
