@require "shared"

$file-border-color ?= $border
$file-radius ?= $radius

$file-cta-background-color ?= $scheme-main-ter
$file-cta-color ?= $text
$file-cta-hover-color ?= $text-strong
$file-cta-active-color ?= $text-strong

$file-name-border-color ?= $border
$file-name-border-style ?= solid
$file-name-border-width ?= 1px 1px 1px 0
$file-name-max-width ?= 16em

$file-colors ?= $form-colors

colorfulFile($colors= $file-colors)
	for $name, $pair in $colors
		$color = $pair['1']
		$color-invert = $pair['2']
		&{$is-modifier}{$name}
			& {$file-cta-selector}
				background-color: $color
				border-color: transparent
				color: $color-invert
			&:hover,
			&{$hovered-modifier}
				& {$file-cta-selector}
					background-color: bulmaDarken($color, 2.5%)
					border-color: transparent
					color: $color-invert
			&:focus,
			&{$focused-modifier}
				& {$file-cta-selector}
					border-color: transparent
					box-shadow: 0 0 0.5em bulmaRgba($color, 0.25)
					color: $color-invert
			&:active,
			&{$active-modifier}
				& {$file-cta-selector}
					background-color: bulmaDarken($color, 5%)
					border-color: transparent
					color: $color-invert

_file()
	@extend $unselectable
	align-items: stretch
	display: flex
	justify-content: flex-start
	position: relative

	// Colors
	updateGlobalOptions()
	colorfulFile($file-colors) if !$silent.colorful.file

	// Sizes
	&{$small-modifier}
		font-size:$size-small
	&{$medium-modifier}
		font-size:$size-medium
		{$file-icon-selector}
			{$fonticon-family-prefix-selector}
				font-size: 21px
	&{$large-modifier}
		font-size:$size-large
		{$file-icon-selector}
			{$fonticon-family-prefix-selector}
				font-size: 28px
	// Modifiers
	&{$has-name-modifier}
		& {$file-cta-selector}
			border-bottom-right-radius: 0
			border-top-right-radius: 0
		& {$file-name-selector}
			border-bottom-left-radius: 0
			border-top-left-radius: 0
		&{$empty-modifier}
			& {$file-cta-selector}
				border-radius: $file-radius
			& {$file-name-selector}
				display: none
	&{$boxed-modifier}
		& {$file-label-selector}
			flex-direction: column
		& {$file-cta-selector}
			flex-direction: column
			height: auto
			padding: 1em 3em
		& {$file-name-selector}
			border-width: 0 1px 1px
		{$file-icon-selector}
			height: 1.5em
			width: 1.5em
			{$fonticon-family-prefix-selector}
				font-size: 21px
		&{$small-modifier}
			{$file-icon-selector} {$fonticon-family-prefix-selector}
				font-size: 14px
		&{$medium-modifier}
			{$file-icon-selector} {$fonticon-family-prefix-selector}
				font-size: 28px
		&{$large-modifier}
			{$file-icon-selector} {$fonticon-family-prefix-selector}
				font-size: 35px
		&{$has-name-modifier}
			& {$file-cta-selector}
				border-radius: $file-radius $file-radius 0 0
			& {$file-name-selector}
				border-radius: 0 0 $file-radius $file-radius
				border-width: 0 1px 1px
	&{$centered-modifier}
		justify-content: center
	&{$fullwidth-modifier}
		& {$file-label-selector}
			width: 100%
		& {$file-name-selector}
			flex-grow: 1
			max-width: none
	&{$right-modifier}
		justify-content: flex-end
		& {$file-cta-selector}
			border-radius: 0 $file-radius $file-radius 0
		& {$file-name-selector}
			border-radius: $file-radius 0 0 $file-radius
			border-width: 1px 0 1px 1px
			order: -1

	{$file-label-selector}
		align-items: stretch
		display: flex
		cursor: pointer
		justify-content: flex-start
		overflow: hidden
		position: relative
		&:hover
			& {$file-cta-selector}
				background-color: bulmaDarken($file-cta-background-color, 2.5%)
				color: $file-cta-hover-color
			& {$file-name-selector}
				border-color: bulmaDarken($file-name-border-color, 2.5%)
		&:active
			& {$file-cta-selector}
				background-color: bulmaDarken($file-cta-background-color, 5%)
				color: $file-cta-active-color
			& {$file-name-selector}
				border-color: bulmaDarken($file-name-border-color, 5%)

	{$file-input-selector}
		height: 100%
		left: 0
		opacity: 0
		outline: none
		position: absolute
		top: 0
		width: 100%

	{$file-cta-selector},
	{$file-name-selector}
		@extend $control
		border-color: $file-border-color
		border-radius: $file-radius
		font-size: 1em
		padding-left: 1em
		padding-right: 1em
		white-space: nowrap

	{$file-cta-selector}
		background-color: $file-cta-background-color
		color: $file-cta-color

	{$file-name-selector}
		border-color: $file-name-border-color
		border-style: $file-name-border-style
		border-width: $file-name-border-width
		display: block
		max-width: $file-name-max-width
		overflow: hidden
		text-align: inherit
		text-overflow: ellipsis

	/{$file-icon-selector}
		align-items: center
		display: flex
		height: 1em
		justify-content: center
		ltr-property("margin", 0.5em)
		width: 1em
		{$fonticon-family-prefix-selector}
			font-size: 14px

	{block}

if !$silent.form.file && !$silent-mode
	{$file-selector}
		_file()
