unless $_BxQjcGzW is defined and $_BxQjcGzW
	@import "shared"

$textarea-padding ?= $control-padding-horizontal
$textarea-max-height ?= 40em
$textarea-min-height ?= 8em

$textarea-colors ?= $form-colors

colorfulInputTextarea($colors= $textarea-colors)
	for $name, $pair in $colors
		$color = $pair['1']
		&{$is-modifier}{$name}
			border-color: $color
			&:focus,
			&{$focused-modifier},
			&:active,
			&{$active-modifier}
				box-shadow: $input-focus-box-shadow-size bulmaRgba($color, 0.25)

$input-textarea
	@extend $input
	box-shadow: $input-shadow
	max-width: 100%
	width: 100%
	&[readonly]
		box-shadow: none

	// Colors
	updateGlobalOptions()
	colorfulInputTextarea($textarea-colors) if !$silent.colorful.input-textarea

	// Sizes
	&{$small-modifier}
		control-small()
	&{$medium-modifier}
		control-medium()
	&{$large-modifier}
		control-large()

	// Modifiers
	&{$fullwidth-modifier}
		display: block
		width: 100%
	&{$inline-modifier}
		display: inline
		width: auto

_input()
	@extend $input-textarea
	&{$rounded-modifier}
		border-radius: $radius-rounded
		padding-left: 'calc(%s + 0.375em)' % $control-padding-horizontal
		padding-right: 'calc(%s + 0.375em)' % $control-padding-horizontal
	&{$static-modifier}
		background-color: transparent
		border-color: transparent
		box-shadow: none
		padding-left: 0
		padding-right: 0

	{block}

_textarea()
	@extend $input-textarea
	display: block
	max-width: 100%
	min-width: 100%
	padding: $textarea-padding
	resize: vertical
	&:not([rows])
		max-height: $textarea-max-height
		min-height: $textarea-min-height
	&[rows]
		height: initial

	// Modifiers
	&{$has-fixed-size-modifier}
		resize: none

	{block}

if !$silent.form.input && !$silent-mode
	{$input-selector}
		_input()

if !$silent.form.textarea && !$silent-mode
	{$textarea-selector}
		_textarea()
