colorfulSelect($colors= $colors)
	for $name, $pair in $colors
		$color = $pair['1']
		&{$is-modifier}{$name}
			&:not(:hover)::after
				border-color: $color
			select
				border-color: $color
				&:hover,
				&{$hovered-modifier}
					border-color: bulmaDarken($color, 5%)
				&:focus,
				&{$focused-modifier},
				&:active,
				&{$active-modifier}
					box-shadow: $input-focus-box-shadow-size bulmaRgba($color, 0.25)

_select()
	display: inline-block
	max-width: 100%
	position: relative
	vertical-align: top
	&:not({$multiple-modifier})
		height: $input-height
	&:not({$multiple-modifier}):not({$loading-modifier})
		&::after
			@extend $arrow
			border-color: $input-arrow
			right: 1.125em
			z-index: 4
	&{$rounded-modifier}
		select
			border-radius: $radius-rounded
			padding-left: 1em
	select
		@extend $input
		cursor: pointer
		display: block
		font-size: 1em
		max-width: 100%
		outline: none
		&::-ms-expand
			display: none
		&[disabled]:hover,
		fieldset[disabled] &:hover
			border-color: $input-disabled-border-color
		&:not([multiple])
			padding-right: 2.5em
		&[multiple]
			height: auto
			padding: 0
			option
				padding: 0.5em 1em
	// States
	&:not({$multiple-modifier}):not({$loading-modifier}):hover
		&::after
			border-color: $input-hover-color

	// Colors
	updateGlobalOptions()
	colorfulSelect($select-colors) if !$silent.colorful.select

	// Sizes
	&{$small-modifier}
		control-small()
	&{$medium-modifier}
		control-medium()
	&{$large-modifier}
		control-large()

	// Modifiers
	&{$disabled-modifier}
		&::after
			border-color: $input-disabled-color

	&{$fullwidth-modifier}
		width: 100%
		select
			width: 100%

	&{$loading-modifier}
		&::after
			@extend $loader
			margin-top: 0
			position: absolute
			right: 0.625em
			top: 0.625em
			transform: none
		&{$small-modifier}:after
			font-size: $size-small
		&{$medium-modifier}:after
			font-size: $size-medium
		&{$large-modifier}:after
			font-size: $size-large

	{block}

if !$silent.form.select && !$silent-mode
	{$select-selector}
		_select()
