unless $_BxQjcGzW is defined and $_BxQjcGzW
	@import "shared"

$label-color ?= $text-strong
$label-weight ?= $weight-bold

$help-size ?= $size-small

$label-colors ?= $form-colors

colorfulHelp($colors= $label-colors)
	for $name, $pair in $colors
		$color = $pair['1']
		&{$is-modifier}{$name}
			color: $color

_label()
	color: $label-color
	display: block
	font-size: $size-normal
	font-weight: $label-weight
	&:not(:last-child)
		margin-bottom: 0.5em

	// Sizes
	&{$small-modifier}
		font-size: $size-small
	&{$medium-modifier}
		font-size: $size-medium
	&{$large-modifier}
		font-size: $size-large

	{block}

_help()
	display: block
	font-size: $help-size
	margin-top: 0.25rem

	updateGlobalOptions()
	colorfulHelp($help-colors) if !$silent.colorful.help

	{block}

// Containers

_field()
	&:not(:last-child)
		margin-bottom: 0.75rem

	// Modifiers
	&{$has-addons-modifier}
		display: flex
		justify-content: flex-start
		{$control-selector}
			&:not(:last-child)
				ltr-property("margin", -1px)
			&:not(:first-child):not(:last-child)
				{$button-selector},
				{$input-selector},
				{$select-selector} select
					border-radius: 0
			&:first-child:not(:only-child)
				{$button-selector},
				{$input-selector},
				{$select-selector} select
					+ltr()
						border-bottom-right-radius: 0
						border-top-right-radius: 0
					+rtl()
						border-bottom-left-radius: 0
						border-top-left-radius: 0
			&:last-child:not(:only-child)
				{$button-selector},
				{$input-selector},
				{$select-selector} select
					+ltr()
						border-bottom-left-radius: 0
						border-top-left-radius: 0
					+rtl()
						border-bottom-right-radius: 0
						border-top-right-radius: 0
			{$button-selector},
			{$input-selector},
			{$select-selector} select
				&:not([disabled])
					&:hover,
					&{$hovered-modifier}
						z-index 2
					&:focus,
					&{$focused-modifier},
					&:active,
					&{$active-modifier}
						z-index: 3
						&:hover
							z-index: 4
			&{$expanded-modifier}
				flex-grow: 1
				flex-shrink: 1
		&{$has-addons-centered-modifier}
			justify-content: center
		&{$has-addons-right-modifier}
			justify-content: flex-end
		&{$has-addons-fullwidth-modifier}
			{$control-selector}
				flex-grow: 1
				flex-shrink: 0
	&{$grouped-modifier}
		display: flex
		justify-content: flex-start
		& > {$control-selector}
			flex-shrink: 0
			&:not(:last-child)
				margin-bottom: 0
				ltr-property("margin", 0.75rem)
			&{$expanded-modifier}
				flex-grow: 1
				flex-shrink: 1
		&{$grouped-centered-modifier}
			justify-content: center
		&{$grouped-right-modifier}
			justify-content: flex-end
		&{$grouped-multiline-modifier}
			flex-wrap: wrap
			& > {$control-selector}
				&:last-child,
				&:not(:last-child)
					margin-bottom: 0.75rem
			&:last-child
				margin-bottom: -0.75rem
			&:not(:last-child)
				margin-bottom: 0
	&{$horizontal-modifier}
		+tablet()
			display: flex

	/{$field-label-selector}
		{$label-selector}
			font-size: inherit

		+mobile()
			margin-bottom: 0.5rem

		+tablet()
			flex-basis: 0
			flex-grow: 1
			flex-shrink: 0
			ltr-property("margin", 1.5rem)
			text-align: right
			&{$small-modifier}
				font-size: $size-small
				padding-top: 0.375em
			&{$normal-modifier}
				padding-top: 0.375em
			&{$medium-modifier}
				font-size: $size-medium
				padding-top: 0.375em
			&{$large-modifier}
				font-size: $size-large
				padding-top: 0.375em

	/{$field-body-selector}
		{$field-selector} {$field-selector}
			margin-bottom: 0

		+tablet()
			display: flex
			flex-basis: 0
			flex-grow: 5
			flex-shrink: 1
			{$field-selector}
				margin-bottom: 0
			& > {$field-selector}
				flex-shrink: 1
				&:not({$narrow-modifier})
					flex-grow: 1
				&:not(:last-child)
					ltr-property("margin", 0.75rem)

	{block}

_control()
	box-sizing: border-box
	clear: both
	font-size: $size-normal
	position: relative
	text-align: inherit

	// Modifiers
	&.has-icons-left,
	&.has-icons-right
		{$input-selector},
		{$select-selector}
			&:focus
				& ~ {$icon-selector}
					color: $input-icon-active-color
			&{$small-modifier} ~ {$icon-selector}
				font-size: $size-small
			&{$medium-modifier} ~ {$icon-selector}
				font-size: $size-medium
			&{$large-modifier} ~ {$icon-selector}
				font-size: $size-large

		{$icon-selector}
			color: $input-icon-color
			height: $input-height
			pointer-events: none
			position: absolute
			top: 0
			width: $input-height
			z-index: 4
	&{$has-icons-left-modifier}
		.input,
		.select select
			padding-left: $input-height
		{$icon-selector}{$left-modifier}
			left: 0
	&{$has-icons-right-modifier}
		.input,
		.select select
			padding-right: $input-height
		{$icon-selector}{$right-modifier}
			right: 0

	&{$loading-modifier}
		&::after
			@extend $loader
			position: absolute !important
			ltr-position(0.625em)
			top: 0.625em
			z-index: 4

		&{$small-modifier}:after
			font-size: $size-small
		&{$medium-modifier}:after
			font-size: $size-medium
		&{$large-modifier}:after
			font-size: $size-large

	{block}

if !$silent.form.label && !$silent-mode
	{$label-selector}
		_label()

if !$silent.form.help && !$silent-mode
	{$help-selector}
		_help()

if !$silent.form.field && !$silent-mode
	{$field-selector}
		_field()

if !$silent.form.control && !$silent-mode
	{$control-selector}
		_control()
